body {
  font-family: "Open Sans", sans-serif;
  color: 201b2d;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

div,
p,
input,
button,
form,
a {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

p {
  line-height: 1.8em;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  background: rgba(21, 27, 74, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(21, 27, 74, 1) 0%,
    rgba(21, 27, 75, 1) 1%,
    rgba(40, 54, 184, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(21, 27, 74, 1)),
    color-stop(1%, rgba(21, 27, 75, 1)),
    color-stop(100%, rgba(40, 54, 184, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(21, 27, 74, 1) 0%,
    rgba(21, 27, 75, 1) 1%,
    rgba(40, 54, 184, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(21, 27, 74, 1) 0%,
    rgba(21, 27, 75, 1) 1%,
    rgba(40, 54, 184, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(21, 27, 74, 1) 0%,
    rgba(21, 27, 75, 1) 1%,
    rgba(40, 54, 184, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(21, 27, 74, 1) 0%,
    rgba(21, 27, 75, 1) 1%,
    rgba(40, 54, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151b4a', endColorstr='#2836b8', GradientType=1 );
  padding-top: 60px;
  color: #fff;
}

.logo {
  width: 200px;
  margin-bottom: 140px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  width: 570px;
}

.title {
  font-size: 45px;
}

.intro {
  font-size: 22px;
  margin-bottom: 42px;
  width: 400px;
}

.btn {
  background: #f64d2e;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  display: block;
  width: 220px;
  padding: 17px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  margin-bottom: 300px;
}

.btn:hover {
  background: #f5a160;
}

.desktop {
  height: 50px;
  margin-bottom: 400px;
}

.skills {
  padding-top: 100px;
  padding-bottom: 110px;
}

.section-title {
  font-size: 30px;
  text-align: center;
}

.myskills {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.myskill {
  width: 300px;
  background: url("../img/htmlcss.png") no-repeat center top;
  padding-top: 100px;
}

.myskill-title {
  font-size: 19px;
  text-align: center;
}

.myskill-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  text-align: center;
}

.myskill-figma {
  background: url("../img/Figmalogo.png") no-repeat center top;
}

.myskill-js {
  background: url("../img/js.png") no-repeat center top;
}

.feedback {
  background: #dee8f8;
  padding: 103px 0;
}

.feedback-title {
  font-size: 30px;
  text-align: center;
}

.feedback-text {
  text-align: center;
}

.form {
  margin-top: 63px;
}

input {
  width: 342px;
  border: 1px solid #bbb;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  height: 47px;
  padding-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.btn-form {
  border: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 342px;
  height: 55px;
}

footer {
  padding: 45px 0;
  background: #151b4a;
}

.credits {
  font-size: 14px;
  text-align: center;
  margin: 0;
  color: #fff;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 670px;
  }
  .wrapper {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 50px;
  }
  .offer {
    width: auto;
  }
  .intro {
    width: auto;
  }
  .desktop {
    display: none;
  }
  .btn {
    margin-bottom: 120px;
  }
  .myskills {
    width: auto;
    margin-bottom: 30px;
  }
  .feedback {
    padding-bottom: 10px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .logo {
    margin-left: 20px;
  }
  .offer {
    margin: 30px 20px 0 20px;
  }
  .myskills {
    flex-direction: column;
  }
  .myskill {
    width: auto;
    margin-bottom: 50px;
  }
  .skills {
    padding-bottom: 10px;
  }
}

/* 0px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 99%;
  }
  .title {
    font-size: 25px;
  }
  .intro {
    font-size: 16px;
  }
  .section-title {
    font-size: 25px;
  }
  .btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-form {
    width: 90%;
  }
  input {
    width: 90%;
  }
}
