body {
  font-family: "Open Sans", sans-serif;
  color: #464646;
  font-size: 16px;
  padding: 0;
  margin: 40px;
  text-align: justify;
}

.container {
  width: 50%;
}

img {
  width: 100%;
}

hr {
  width: 40%;
  color: #a02842;
}

h1 {
  font-size: 35px;
}

h2 {
  color: #a02842;
}

.line {
  background-color: #eee;
  margin: 10px; /* Отступ слева */
  padding: 25px; /* Расстояние от линии до текста */
  font-style: italic;
}

.aroma {
  background-color: #eee;
  width: 100%;
}
