body {
    font-family:'Open Sans', sans-serif;
    color: 201b2d;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 1.8em;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 60px;
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.offer {
    margin-top: 147px;
    width: 570px;
}

.title {
    font-size: 37px;
}

.title span {
    font-size: 59px;
}

.intro {
    margin-bottom: 42px;
    width: 400px;
}

.btn {
    background: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #201b2d;
    display: block;
    width: 220px;
    padding: 17px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #efbf00;
}

.desktop {
    height: 580px;
    margin-top: 50px;
    margin-bottom: 143px;
}

.future {
    padding-top: 100px;
    padding-bottom: 110px;
}

.section-title {
    font-size: 30px;
    text-align: center;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.advantage {
    width: 300px;
    background: url('../img/icon1.png') no-repeat center top;
    padding-top: 100px;
}

.advantage-title {
    font-size: 19px;
    text-align: center;
}

.advantage-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-align: center;
}

.advantage-travel {
    background: url('../img/icon2.png') no-repeat center top;
}

.advantage-gold {
    background: url('../img/icon3.png') no-repeat center top;
}

.ticket {
    background: #ecf3f8;
    padding: 103px 0;
}

.ticket-title {
    font-size: 30px;
    text-align: center;
}

.form {
    margin-top: 63px;Ы
}

input {
    width: 342px;
    border: 1px solid #bbb;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    height: 47px;
    padding-left: 25px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 15px;
}

.btn-form {
    border: 0;
    cursor: pointer;
    margin-left: auto; 
    margin-right: auto;
    width: 342px;
    height: 55px;
}

footer {
    padding: 65px 0;
    background: #164d7a;
}

.credits {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: #fff;
}